@{
  ViewBag.Title = "Anasayfa";
}

<div class="col-md-12" style="text-align: center;">
  <a class="btn btn-default" href="/poker-planning-add-story-list">New Session</a>
</div>

<app-root></app-root>