<div class="col-md-12">
  <div class="row">
    <div style="text-align: right; padding-bottom: 30px;">
      please share link of developers panel to the teammates: <a>
        {{baseUrl}}/poker-planning-view-as-developer/{{sessionName}}
      </a>
    </div>
    <div class="col-md-5">
      <label for="storyList" style="padding-left: 8px;" class="col-md-4">Story List</label>
      <table id="storyList" class="table">
        <thead>
          <tr>
            <th scope="col">Story</th>
            <th scope="col">Story Point</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let story of session?.StoryList">
            <td>
              {{story.StoryName}}
            </td>
            <td>
              {{story.StoryPoint}}
            </td>
            <td>
              <div *ngIf="story.Status==0">Active</div>
              <div *ngIf="story.Status==1">Voted</div>
              <div *ngIf="story.Status==2">Not Voted</div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <label for="activeStory" style="padding-left: 0;" class="col-md-4">Active Story</label>
      <small>{{activeStory}}</small>
      <table id="activeStory" style="margin-top: 40px;" class="table">
        <tbody>
          <tr>
            <td><button (click)="sendVote(1);" class="btn btn-default">1</button></td>
            <td><button (click)="sendVote(2);" class="btn btn-default">2</button></td>
            <td><button (click)="sendVote(3);" class="btn btn-default">3</button></td>
            <td><button (click)="sendVote(5);" class="btn btn-default">5</button></td>
          </tr>
          <tr>
            <td><button (click)="sendVote(8);" class="btn btn-default">8</button></td>
            <td><button (click)="sendVote(13);" class="btn btn-default">13</button></td>
            <td><button (click)="sendVote(21);" class="btn btn-default">21</button></td>
            <td><button (click)="sendVote(34);" class="btn btn-default">34</button></td>
          </tr>
          <tr>
            <td><button (click)="sendVote(55);" class="btn btn-default">55</button></td>
            <td><button (click)="sendVote(89);" class="btn btn-default">89</button></td>
            <td><button (click)="sendVote(144);" class="btn btn-default">134</button></td>
            <td><button (click)="sendVote(233);" class="btn btn-default">233</button></td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="sentVote">{{sentVote}} Voted</div>
      <div *ngIf="!sentVote" style="text-align: center;">Please Vote!!!</div>
    </div>
    <div class="col-md-3">
      <label for="scrumMasterPanel" style="padding-left: 0" class="col-md-12">Scrum Master Panel</label>
      <small>{{activeStory}} is active</small>
      <table id="scrumMasterPanel" style="margin-top: 15px;" class="table">
        <tbody>
          <tr *ngFor="let vote of session?.StoryList[activeStoryIndex].Votes; index as i">
            <td>
              {{vote.VoterName}}
            </td>
            <td>
              {{vote.StoryPoint}}
              <!--<div *ngIf="!checkIfEveryBodyVote() && !vote.StoryPoint">
            Not Voted
          </div>
          <div *ngIf="!checkIfEveryBodyVote() && vote.StoryPoint">
            Voted
          </div>-->
            </td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="isAllVoted">
        Seems team has different votes
        <br />
        Please discuss and finalize the score below textbox
        <label for="finalScore" style="padding-left: 0; padding-top: 10px" class="col-md-12">Final Score</label>
        <input type="number" [(ngModel)]="finalScore" min="0" class="form-control" id="finalScore">
      </div>
      <br />
      <button [ngClass]="{disabled : !isAllVoted}" class="btn btn-default col-md-12" style="text-align: center" (click)="isAllVoted && sendFinalScore();">
        End Voting For {{activeStory}}
      </button>
      <br />
      <br />
      <div style="text-align: center;">You can not end voting till each teammate voted</div>
    </div>
  </div>
</div>
