<div class="col-md-12">
  <div class="row">
    <div style="text-align: right; padding-bottom: 40px;">
      please share link of developers panel to the teammates: <a>
        {{baseUrl}}/poker-planning-view-as-developer/{{sessionName}}
      </a>
    </div>
    <div class="col-md-5">
      <label for="storyList" style="padding-left: 0" class="col-md-4">Story List</label>
      <table id="storyList" class="table">
        <thead>
          <tr>
            <th scope="col">Story</th>
            <th scope="col">Story Point</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Story 1</td>
            <td></td>
            <td>Active</td>
          </tr>
          <tr>
            <td>Story 2</td>
            <td></td>
            <td>Not Voted</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <label for="activeStory" style="padding-left: 0" class="col-md-4">Active Story</label>
      <table id="activeStory" class="table">
        <tbody>
          <tr>
            <td><button class="btn btn-default">1</button></td>
            <td><button class="btn btn-default">2</button></td>
            <td><button class="btn btn-default">3</button></td>
            <td><button class="btn btn-default">4</button></td>
          </tr>
          <tr>
            <td><button class="btn btn-default">5</button></td>
            <td><button class="btn btn-default">6</button></td>
            <td><button class="btn btn-default">7</button></td>
            <td><button class="btn btn-default">8</button></td>
          </tr>
        </tbody>
      </table>
      Please Vote!!!
    </div>
    <div class="col-md-3">
      <label for="scrumMasterPanel" style="padding-left: 0" class="col-md-12">Scrum Master Panel</label>
      Story 1 is active
      <table id="scrumMasterPanel" class="table">
        <tbody>
          <tr>
            <td>Voter 1</td>
            <td>Voted</td>
          </tr>
          <tr>
            <td>Voter 2</td>
            <td>Not Voted</td>
          </tr>
          <tr>
            <td>Scrum Master</td>
            <td>Not Voted</td>
          </tr>
        </tbody>
      </table>
      <button class="btn btn-default">End Voting For Story 1</button>
      <br />
      <br />
      You can not end voting till each teammate voted
    </div>
  </div>
</div>
